
.task-page{
    min-height: 100vh;
    width: 75%;
    background-color: rgb(59, 209, 29);
    padding: 60px 30px 35px 60px;
    overflow: auto;
    justify-content: flex-start;
    position: absolute;
    left: 317px;
}

.main-tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Select a list */
.select-list{
    height: 150px;
    width: 67%;
    background-color: rgb(80, 80, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    gap: 30px;
    margin-bottom: 5px;
}
.p-select-list{
    color: #fff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

select{
    height: 40px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    padding-left: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
option{
    height: 40px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    border: none;
    outline: none;cursor: pointer;
}


/* Task Creation */

.task-creation{
    min-height: 175px;
    width: 67%;
    border-radius: 15px;
    border: 1px solid grey;
    overflow: hidden;
    padding: 7px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 5px;
    align-items: center;
}

textarea{
    min-height: 105px;
    width: 100%;
    resize: none;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: inherit;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-submit{
    height: 45px;
    width: 150px;
    background-color: rgb(104, 104, 104);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.textarea-length{
    height: 45px;
    width: 150px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid grey;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tasks-created{
    min-height: 150px;
    width: 67%;
    margin-top: 7px;
    margin-bottom: 7px;
    color: #fff;
}
.p-task-created{
    min-height: 50px;
    width: 67%;
    color: #000000;
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1.5;         
    letter-spacing: 1px;           
    background-color: #fff;
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.btn-remove-p{
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
    background-color: rgba(193, 193, 193, 0.627);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00000072;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    transition: 0.1s ease;
}