.task-page{
    height: 100vh;
    width: 73.5%;
    background-color: rgb(19, 19, 19);
    display: none;
    position: absolute;
    left: 340px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
}

.button-adjust{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.task-creation-box{
    height: auto;
    width: 700px;
    background-color: rgba(56, 56, 56, 0.233);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid rgba(199, 199, 199, 0.397);
}

.textarea-task-create{
    width: 100%;
    height: 100px;
    resize: none;
    border: 2px solid rgba(134, 134, 134, 1);
    border-radius: 7px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.buttons-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-submit{
    height: 35px;
    width: 150px;
    background-color: rgb(253, 244, 121);
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.button-submit:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.textarea-length{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.tasks{
    background-color: blueviolet;
    height: 300px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}


#back-to-left-bar{
    height: 40px;
    width: 200px;
    background-color: rgb(104, 104, 104);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
}   
#back-to-left-bar:hover{
    background-color: rgb(83, 83, 83);
}
